.scheduling_form {
  width: 100%;
  max-width: 400px;
  margin: 160px auto 40px;
  padding: 0 1rem;
}

.title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.select {
  margin-bottom: 1rem;
}

.select .input{
  margin-left: 1rem;
}

.date_picker{
  margin-bottom: 1rem;
}