.dashboard__nav_bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;
  background-color: green;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.dashboard__nav_bar__title{
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.table {
  max-width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  margin: 40px auto;
}

table.table th,
table.table td {
  border: none;
  padding: 16px 32px;
  border: 1px solid #ddd;
}

table.table th {
  font-weight: bold;
  color: #fff;
  background: #0fa30f;
  text-align: center;
}

table.table td {
  text-align: center;
  vertical-align: middle;
}

table.table tr:nth-child(even) td {
  background-color: #d5f2d5;
}

table.table tr:hover td {
  background-color: #99c299;
}

.modal__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.modal__list__item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.modal__list__item:last-child {
  border-bottom: none;
}